<h1>Edit comment</h1>
<div class="show_image">
    <%= image_tag @comment.image.url%>
</div>

<div class="image_info">
    <h2><%= @comment.image.title %></h2>
    <p>by <%= @comment.image.artist %></p>
    <p>dated <%= @comment.image.date_created %></p>
    <p class="metro_link"><%= link_to "Find more information at The Met's page for this piece", @comment.image.metro_link %></p>
</div>  

<% if @comment.errors.any? %>
<ul>
    <p>Errors: </p>
    <% @comment.errors.full_messages.each do |msg| %>
    <li>
        <%= msg %>
    </li>
    <% end %>
</ul>
<% end %>

    <div class="write_comment">
    <h3>Edit your comment</h3>
    <%= form_for @comment do |f| %>

        <%= f.text_area :text %>
        <br>
    <%= f.submit %>
    </div>
<% end %>