<h1><%= @user.full_name%></h1>

<p><%= @user.email %></p>
<p><%= @user.location.capitalize %></p>
<p>About me: </p>
<p><%=  @user.biography%></p>

<h3>My comments: </h3>

<% @user.comments.each do |comment| %>
    <div class="comment">
        <%= link_to (image_tag comment.image.url, size: "64x64"), image_path(comment.image) %>

        <p><%= link_to comment.image.title, image_path(comment.image) %>, by <%= comment.image.artist %></p>

        <%=  comment.comment_date %>: 
        <li class="comment_text"><%= comment.text %></li>
    </div>
<% end %>