<p><%= link_to 'Go back to all images', images_path %></p>
<h1><%= @image.title %></h1>
<h3>Artist: <%= @image.artist %></h3>
<p><%= link_to 'Metro link', @image.metro_link %></p>
<p>Date created: <%= @image.date_created %></p>

<p>URL: <%= @image.URL %></p>

