<p><%= link_to 'Go back to all images', images_path %></p>

<h1>Title: <%= @image.title %></h1>
<h3>Artist: <%= @image.artist %></h3>
<p>Date created: <%= @image.date_created %></p>
<p><%= link_to 'Find more information at the museum page', @image.metro_link %></p>
<%= image_tag @image.url %>

<% #add custom error messages for if the comment doesn't work %>


<% # add a new comment for any user (until authorization is added) %>
<%=  form_for @comment do |f|%>
    <% #give error if one exists %>
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= f.label "Comment"  %>
    <%= f.text_area :text%>
    <br>
    User: 
    <%= f.collection_select :user_id, User.all, :id, :full_name%>
    <br>
    <% #hidden field to provide the image_id to the comments controller  %>
    <%= f.hidden_field :image_id, :value => @image.id %>
    <%= f.submit "Add Comment" %>
<% end %>
<h4>Comments: </h4>     

<% # all comments for this piece %>
<% @image.comments.each do  |comment| %>
    <p>User <%= link_to comment.user.full_name, user_path(comment.user) %> said: </p>
    <li><%= comment.text %></li>
    <br>
    <p>at <%= comment.comment_date %></p>
    <%= button_to "Delete Comment", comment_path(comment.id), :method => :delete %>
    <%= button_to "Edit Comment", edit_comment_path(comment.id), :method => :get %>
    <% #byebug %>
<% end %>


