<body class="image_show">
<p><%= link_to 'all images', images_path %></p>
<div class="show_image">
    <%= image_tag @image.url%>
</div>

<div class="image_info">
    <h2><%= @image.title %></h2>
    <p>by <%= @image.artist %></p>
    <p>created <%= @image.date_created %></p>
    <p class="metro_link"><%= link_to "Find more information at The Met's page for this piece", @image.metro_link %></p>
</div>

<% #add custom error messages for if the comment doesn't work %>

<div class="comment_section">
<% # add a new comment for any user (until authorization is added) %>
<%=  form_for @comment do |f|%>

    <% if user_signed_in? %>
        <%= f.label " say something"  %>
        <br>
        <%= f.text_area :text, size: "70x5"%>
        <%#= f.collection_select :user_id, User.all, :id, :full_name%>
        <br>
        <% #hidden field to provide the image_id to the comments controller  %>
        <%= f.hidden_field :image_id, :value => @image.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Add Comment" %>
        
    <% else %>
        <p>You must be signed in to leave comments</p>
    <% end %>

<% end %>
<h4>Comments: </h4>     

<% # all comments for this piece %>
<% @image.comments.each do  |comment| %>
    <div class="comment">
    <p>User <%= link_to comment.user.full_name, user_path(comment.user) %> said: </p>
    <li class="comment_text"><%= comment.text %></li>
    <br>
    <p>at <%= comment.comment_date %></p>
    <% #byebug %>
    <% if  user_signed_in? && current_user.id == comment.user.id %>
        <%= button_to "Delete Comment", comment_path(comment.id), :method => :delete %>
        <%= button_to "Edit Comment", edit_comment_path(comment.id), :method => :get %>
    <% end %>
    <% #byebug %>
    </div>
<% end %>
</div>



</body>