<!DOCTYPE html>
<html>
  <head>
    <title>ArtForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- roboto font from google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="navbar-nav">
    
    <p>
    <% if user_signed_in? %>
      Hi, <strong><%= current_user.first_name.capitalize %></strong><br>
    <% end %>
    <%= link_to 'Home', images_path %> | 
    <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
      <%= link_to 'My page', user_path(current_user.id), :class => 'navbar-link' %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </p>
  </div>
    <!-- for Devise per Rails Girl tutorial -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <body>
  <section class="section">
    <div class="content">
      <%= yield %>
    </div>
  </section>
</body>
  </body>
</html>
